nav{
    background-color: green !important;
    height: 60px;
}
.btn{
    font: white;
}

footer{
    background: green;
    width: 100%;
    height: 200px;
    text-align:center;
}
.cc1{
    background-image: url('../../templates/exo/screen1.jpg');
}

.cc2{
    background-image: url('../../templates/exo/screen2.jpg');
}
.cc3{
    background-image: url('screen3.jpg');
}
.cc4{
    background-image: url('imagen4.jpg');
}

.cc1, .cc2, .cc3, .cc4{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img{
    height: 150px;

}
iframe{
    width: 100%;
    height:450px;
}