<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="estilocarou.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>
<body background = paisaje.jpg>

	<center>
	<h2> Cafes Exclusivos </h2>
		</center>
		<div class="carousel">
			<a class="carousel-item" ><img src="carou1.jpg" style="width:200px;height:200px;"> </a>
			<a class="carousel-item" ><img src="carou2.jpg" style="width:200px;height:200px;"> </a>
			<a class="carousel-item" ><img src="carou3.jpg" style="width:200px;height:200px;"> </a>
			<a class="carousel-item" ><img src="carou4.jpg" style="width:200px;height:200px;"></a>
			<a class="carousel-item" ><img src="carou5.jpg" style="width:200px;height:200px;"></a>
			<a class="carousel-item" ><img src="carou6.jpg" style="width:200px;height:200px;"></a>
		</div>
		
		
		<a href="index.html">Volver</a>
		
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js" ></script>

		
		<script>
                $(document).ready(function(){
                $('.carousel').carousel();
                });

         </script>
	
	