{% load static %}
  <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
        <link href="{% static 'css/materialize.css' %}"  media="screen,projection" type="text/css" rel="stylesheet"/>


      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    </head>

    <body>
      <div class="parallax-container">
         <div class="parallax"><img src="{% static 'images/screen1.jpg' %}"></div>
       </div>

     <nav>
          <div class="nav-wrapper">
             <a href="#" class="brand-logo center">Crear Producto</a>
             <ul id="nav-mobile" class="left hide-on-med-and-down">
                   <li><a href="sass.html"></a></li>
                    <li><a href="badges.html"></a></li>
                    <li><a href="collapsible.html"></a></li>
             </ul>
            </div>
     </nav>

	<form method="post" enctype="multipart/form-data">
        {% csrf_token %}

				Nombre: <input  class="input-field col s6" name="nombre" type="text" placeholder="Nombre del producto"><br>
				Descripción: <input  class="input-field col s6" name="descripcion" type="text" placeholder="Descripción del producto"><br>
                Imagen: <input type="file" name="imagen" /><br>
				Valor: <input type="number" name="valor" min = "0" placeholder="" ><br>
                Cantidad: <input type="number" name="cantidad" min = "0" placeholder="" ><br>
				<button type="submit" class="waves-effect waves-light btn">Ingresar producto</button>
				<a href="{% url 'ejemplocrud' %}" class="waves-effect waves-light btn">Cancelar</a>
			</form>


      <!--JavaScript at end of body for optimized loading-->
    <script>
	 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
  });

  $(document).ready(function(){
				$('select').formSelect();
				$('.datepicker').datepicker();
				});

     </script>

      <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    </body>
  </html>