{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="{% static 'css/ejemplocrud.css' %}" media="screen,projection" type="text/css" rel="stylesheet"/>
    <link href="{% static 'css/materialize.css' %}" media="screen,projection" type="text/css" rel="stylesheet"/>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


</head>

<body>
    <div id="admin">
       <div >
                <span class="table-title">Cafes Exostack</span>
                <div class="actions">
                    <a href="{% url 'crudcrear' %}" class="modal-trigger waves-effect btn-flat nopadding"><i
                            class="material-icons">add_circle</i></a>
                </div>
            </div>

            <table id="datatable" class="material-table centered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagenes</th>
                    <th>Valor</th>
                    <th>Cantidad</th>
                    <th>Acciones</th>

                </tr>
                </thead>
                <tbody>
                {% for producto in productos %}
                    <tr>
                    <td border=3 height=100 width=300>{{ producto.pk }}</td>
                    <td border=3 height=100 width=300>{{ producto.nombre }}</td>
                    <td border=3 height=100 width=300>{{ producto.descripcion }}</td>
                    <td ><img src="{{ producto.imagenes.url }}" border=3 height=100 width=300></td>
                    <td border=3 height=100 width=300>{{ producto.valor }}</td>
                    <td border=3 height=100 width=300>{{ producto.cantidad }}</td>
                    <td border=3 height=100 width=300>

                        <a href="{% url 'crudeditar' pk=producto.pk%}" ><i
                            class="material-icons">create</i></a>
                            <a href="{% url 'crudeliminar' pk=producto.pk%}" ><i
                            class="material-icons">cancel_presentation</i></a>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
</div>

<script type="text/javascript" src="{% static 'js/ejemplocrud.js' %}"></script>
</body>
</html>