{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link href="{% static 'css/materialize.css' %}" rel="stylesheet"
          type="css/materialize.min./home/rodrigo/Escritorio/duoc/exo/static/imagescss" media="screen,projection"/>
    <link href="{% static 'css/carousel.css' %}" type="text/css" href="carousel.css">
    <!--Let browser know website is optimized for mobile-->
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <!-- Compiled and minified CSS -->
    <link rel="{% static 'css/style.css' %}"
          href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="estilocarou.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
</head>

<body>

<nav class="nav-wraper">

    <div class="container">

        <a href="#" class="brand-logo">ExoStacks</a>
        <a href="#" data target="menu-responsive" class="sidenav-trigger">
            <i class=material-icons>menu</i>
            <ul class="right hide-on-med-and-down">

                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'registro' %}">Registro</a></li>

            </ul>

        </a>


    </div>
</nav>


<div class="carousel">
    <a class="carousel-item"><img src="{% static 'images/carou1.jpg' %}" style="width:200px;height:200px;"> </a>
    <a class="carousel-item"><img src="{% static 'images/carou2.jpg' %}" style="width:200px;height:200px;"> </a>
    <a class="carousel-item"><img src="{% static 'images/carou3.jpg' %}" style="width:200px;height:200px;"> </a>
    <a class="carousel-item"><img src="{% static 'images/carou4.jpg' %}" style="width:200px;height:200px;"></a>
    <a class="carousel-item"><img src="{% static 'images/carou5.jpg' %}" style="width:200px;height:200px;"></a>
    <a class="carousel-item"><img src="{% static 'images/carou6.jpg' %}" style="width:200px;height:200px;"></a>
</div>

<ul class="sidenav" id="menu-responsive">
    <li><a href="#">enlace</a></li>
    <li><a href="#">Enlace</a></li>
    <li><a href="#">Enlace</a></li>
</ul>

<div class="container section">
<!--Codigo carrusel -->
<div class="carousel carousel-slider center">
    <div href="{% static 'images/screen1.jpg' %}" class="carousel-item white-text">

    </div>
    <div class="carousel-item cc2 white-text"><a class="waves-light waves-light btn" href="link2.html">ver </a>
    </div>
    <div class="carousel-item cc3 white-text"><a class="waves-light waves-light btn" href="link1.html">ver </a>
    </div>
    <div class="carousel-item cc4 white-text"><a class="waves-light waves-light btn" href="link1.html">ver </a></div>
</div>


</div>
</div>
</div>

{% for producto in productos %}




<div class="row">
    <div class="col s12 m7">
        <div class="col s6">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{% static 'images/{{producto.imagenes}}' %}">
                    <span class="Cafe Blue Mountain">{{ producto.nombre}}</span>
                </div>
                <div class="card-content">
                    <p>{{ producto.descripcion }}
                        <br><br>
                        Su precio es de ${{ producto.valor }} los 306gr.
                        <br>
                        Stock: {{ producto.cantidad }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<!--JavaScript at end of body for optimized loading-->


<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
</script>

<script>

    document.addEventListener('DOMContentLoaded, function(){
    M.autoInit();
    })
    ;
</script>
<!-----carousel-------->
<Script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems);

</script>

<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>


<script>
    $(document).ready(function () {
        $('.carousel').carousel();
    });

</script>

<script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
</body>
</html>
        